* {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5e4d0;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.image-container .caption-group {
    display: flex;
    flex-direction: column;
    font-style: italic;
    text-align: center;
}

blockquote {
    margin: 0 0 1em 0;
    padding: 0.5em 0.5em 1em 1.5em;
    background: url("../image/stroke-vert-long.png") no-repeat;
    background-size: 1rem 100%;
    line-height: 1.5em;
}

blockquote.short {
    background: url("../image/stroke-vert.png") no-repeat;
    background-size: 1rem 100%;
}

blockquote p {
    line-height: 1.6em;
    margin: 0 0 1em 0;
}

blockquote .source {
    text-align: center;
    padding: 0;
    margin: -0.7em 0 0 0;
}

#logo {
    max-width: 100%;
    height: auto;
}

#nav {
    display: flex;
    flex-wrap: wrap;
}

#nav .item {
    margin-right: 1rem;
    vertical-align: middle;
}

#nav a {
    text-decoration: none;
}

.root-container {
    margin: 0 auto;
    /*display: flex;*/
    /*width: 80rem;*/
    max-width: 55rem;
    /*background-color: gray;*/
}


.lc-container {
    display: flex;
    flex-grow: 1;
}

.lc-container .left {
    background-color: red;
}

.lc-container .fill {
    flex-grow: 1;
    background-color: green;
}

.lc-container .right {
    background-color: red;
}

.header-container {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

.header-container .left {
    padding: 0;
}

.header-container .right {
    display: table;
    margin-top: 1rem;
    padding: 0 0.8rem 1.25rem 0.8rem;
    background: url("../image/stroke1.png") no-repeat bottom;
    background-size: 100% 1rem;
    height: fit-content;
}

.button1 {
    border: none;
    color: white;
    background: url("../image/button1.png") no-repeat;
    background-size: 100% 100%;
}

.button2 {
    border: none;
    background: url("../image/button2.png") no-repeat top left;
    padding: 2px 8px;
}


a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
}

a:visited {
    color: #000;
}

a:hover, a:focus {
    color: #aa2e2f;
}

a:active {
    transform: translateY(0.1rem) scale(0.98);
}


a.button, button {
    font-weight: bold;
    color: white;
    padding: 0.5em 1.5em;
    text-decoration: none;
}

a.button:hover, button:hover {
    color: #f56061;
}

a.button:active, button:active {
    transform: translateY(0.1rem) scale(0.98);
}

p {
    line-height: 1.6em;
}

h2 {
    font-size: 1.75em;
    display: table;
    padding: 0 0.8em 0.5em 0.8em;
    margin-bottom: 0.5em;
    background: url("../image/stroke1.png") no-repeat bottom left;
    background-size: 100% 0.4em;
}

h2 a {
    text-decoration: none;
}

h3 {
    font-size: 1.5em;
    display: table;
    padding: 0 0.8em 0.5em 0.8em;
    margin-bottom: 0.5em;
    background: url("../image/stroke1.png") no-repeat bottom left;
    background-size: 100% 0.4em;
}

h3 a {
    text-decoration: none;
}

code {
    font-family: "Fira Code", "Cascadia Code", "Consolas", monospace;
    font-size: 0.9rem;
    background: #d7c3a5;
    color: #000;
    padding: 0.2rem 0.3rem;
    border-radius: 0.3rem;
}

code.inline {
    background: #0F111A;
    color: #C3CEE3;
}

code.block {
    background: #0F111A;
    color: #C3CEE3;
    white-space: pre-wrap;
    line-height: 1.5em;
}

.codeblock {
    display: block;
    background: #0F111A;
    padding: 1rem;
    border-radius: 0.5rem;
}

div.code {
    background: #0F111A;
    padding: 1rem;
    border-radius: 0.5rem;
}

.tag {
    display: inline-block;
    font-size: 0.8em;
    background: #d7c3a5;
    padding: 0.3em 0.75em;
    justify-content: center;
    clip-path: polygon(10% 0, 90% 0, 100% 100%, 0% 100%);
    border-bottom: 0.25em solid #b1a087;
}

.tag:hover {
    background: #e2c08c;
    border-bottom: 0.25em solid #a3875c;
}

.date-written {
    font-size: 0.9em;
    font-style: italic;
    display: inline-block;
}

.stroke-header {
    display: inline-block;
    font-size: 2em;
    font-weight: bold;
}

.stroke-header .top {
}

.stroke-header .bottom {
    background: url("../image/stroke1.png") no-repeat;
    height: 0.5em;
    background-size: 100% 100%;
}

.main-container {
    padding: 0 1rem 1rem 1rem;
}

.disabled, a.disabled, button.disabled {
    opacity: 0.4;
    pointer-events: none;
    color: #cdcdcd;
}

table {
    border-collapse: collapse;
}

table tr td {
    border: 1px solid #000;
    padding: 0.25rem 0.4rem;
}

hr {
    height: 0.2rem;
    border: 0;
    color: #d7c3a5;
    background: #d7c3a5;
    margin: 4rem 0;
}